<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="Nopackage" >
        <classes>
            <class name="com.todoqacart.testcases.LoginScreenTest" />
            <class name="com.todoqacart.testcases.NewTaskScreenTest" />
            <class name="com.todoqacart.testcases.SignUpScreenTest" />
            <class name="com.todoqacart.testcases.TasksScreenTest" />
        </classes>
    </test>

</suite>
